@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Yatra+One&display=swap');

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.322);
    transition: 0.3s;
    width: 40%;
    margin: 60px;
    display: grid;
    grid-template-columns: auto;
    border-radius: 5px;
    justify-self: center;
    align-self: center;
    background-color: #fca01714;
}

body {
    max-width: 1600px;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 28px;
    display: grid;
    background-color: #f574bf14;
    grid-template-columns: auto;
    margin: auto;
    align-content: center;
}

#title {
    text-align: center;
    width: 100%;
    font-family: 'Yatra One', Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: #08a0b1;
    margin-top: 10px;
}

.card img {
    margin-top: 35px;
    border-radius: 3%;
    width: 80%;
    justify-self: center;
}

.container h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 0px;
}

.container {
    font-size: .8em;
    margin: 30px;
}


header {
    display: grid;
    grid-template-columns: auto;
    border-radius: 5px;
    size: 100%;
    background-color: #f8d178f4;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.53);
}

.container {
    padding: 2px 16px;
}